<?php

declare(strict_types=1);

namespace {$ctx->class->namespace};

readonly class {$ctx->class->className}
{

	public function __construct(
		public {$ctx->class->className}Filter $filter,
	) {
	}

}
