<?php

declare(strict_types=1);

namespace {$ctx->class->namespace};

#[AsMessageHandler]
readonly class {$ctx->class->className}
{

	public function __construct(
		private EntityManagerInterface $em,
		private EventDispatcherInterface $ed,
	) {
	}

	public function __invoke({$ctx->class->className|replace('Handler', 'Command')} $command): object
	{
	}

}
