includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- bin

	ignoreErrors:

	typeAliases:
		ConfigShape: """
			array{
				app: array{
					appDir: string,
					namespace: string,
					scopes: array<string>|null,
					crafters: array<array{
						crafter: string,
						template: string,
						class: string,
						mode: string|null,
						scopes: array<string>|null,
						baseClass: string|null
					}>|null
				},
				mate: array{
					presets: array<string>|null
				},
				structs: array<string, array{
					fields: array<string, array{
						type: string,
						nullable: bool|null
					}>|null
				}>|null
			}
		"""
