includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- bin

	ignoreErrors:
		- '#Call to deprecated method add\(\) of class Symfony\\Component\\Console\\Application#'
		- '#Method Contributte\\Crafter\\Config\\Loader\\ConfigLoader::processConfig\(\) should return#'

	typeAliases:
		ConfigShape: """
			array{
				version: string,
				dir: string,
				namespace: string,
				vars: array<string, scalar>|null,
				preset: string|null,
				template: string|null,
				crafters: CraftersShape,
				data: array<string, array{
					fields: array<string, array{
						type: string,
						nullable: bool|null,
					}>,
					vars: array<string, scalar>|null,
				}>
			}
		"""
		CraftersShape: """
			array<string, array{
				input: string,
				output: string,
				vars: array<string>|null,
			}>
		"""
