includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- bin

	ignoreErrors:

	typeAliases:
		ConfigShape: """
			array{
				version: string,
				dir: string,
				namespace: string,
				vars: array<string, scalar>|null,
				preset: string|null,
				template: string|null,
				crafters: CraftersShape,
				data: array<string, array{
					fields: array<string, array{
						type: string,
						nullable: bool|null,
					}>,
					vars: array<string, scalar>|null,
				}>
			}
		"""
		CraftersShape: """
			array<string, array{
				input: string,
				output: string,
				vars: array<string>|null,
			}>
		"""
