app:
	namespace: App
	appDir: app

	crafters:
		# Database ================================
		database_entity:
			crafter: entity
			scopes: [database]
			template: templates/database/entity.latte
			class: 'App\Domain\{$name|firstUpper}\Database\{$name|firstUpper}'
			baseClass: App\Model\Database\Entity\AbstractEntity

		database_repository:
			crafter: repository
			scopes: [database]
			template: templates/database/repository.latte
			class: 'App\Domain\{$name|firstUpper}\Database\{$name|firstUpper}Repository'
			baseClass: App\Model\Database\Repository\AbstractRepository

		# Bus ====================================
		# Bus (create)
		bus_command_create:
			crafter: command
			mode: create
			scopes: [bus]
			template: templates/bus/command_create.latte
			class: 'App\Domain\{$name|firstUpper}\Create{$name|firstUpper}Command'
		bus_handler_create:
			crafter: handler
			mode: create
			scopes: [bus]
			template: templates/bus/handler_create.latte
			class: 'App\Domain\{$name|firstUpper}\Create{$name|firstUpper}Handler'
			dependencies:
				em: Doctrine\ORM\EntityManagerInterface
		# Bus (update)
		bus_command_update:
			crafter: command
			mode: update
			scopes: [bus]
			template: templates/bus/command_update.latte
			class: 'App\Domain\{$name|firstUpper}\Update{$name|firstUpper}Command'
		bus_handler_update:
			crafter: handler
			mode: update
			scopes: [bus]
			template: templates/bus/handler_update.latte
			class: 'App\Domain\{$name|firstUpper}\Update{$name|firstUpper}Handler'
			dependencies:
				em: Doctrine\ORM\EntityManagerInterface
		# Bus (get)
		bus_command_get:
			crafter: command
			mode: get
			scopes: [bus]
			template: templates/bus/command_get.latte
			class: 'App\Domain\{$name|firstUpper}\Get{$name|firstUpper}Command'
		bus_handler_get:
			crafter: handler
			mode: get
			scopes: [bus]
			template: templates/bus/handler_get.latte
			class: 'App\Domain\{$name|firstUpper}\Get{$name|firstUpper}Handler'
			dependencies:
				em: Doctrine\ORM\EntityManagerInterface
		# Bus (list)
		bus_command_list:
			crafter: command
			mode: update
			scopes: [bus]
			template: templates/bus/command_list.latte
			class: 'App\Domain\{$name|firstUpper}\List{$name|firstUpper}Command'
		bus_handler_list:
			crafter: handler
			mode: create
			scopes: [bus]
			template: templates/bus/handler_list.latte
			class: 'App\Domain\{$name|firstUpper}\List{$name|firstUpper}Handler'
			dependencies:
				em: Doctrine\ORM\EntityManagerInterface
		# Bus (delete)
		bus_command_delete:
			crafter: command
			mode: delete
			scopes: [bus]
			template: templates/bus/command_delete.latte
			class: 'App\Domain\{$name|firstUpper}\Delete{$name|firstUpper}Command'
		bus_handler_delete:
			crafter: handler
			mode: delete
			scopes: [bus]
			template: templates/bus/handler_delete.latte
			class: 'App\Domain\{$name|firstUpper}\Delete{$name|firstUpper}Handler'
			dependencies:
				em: Doctrine\ORM\EntityManagerInterface

		# API ====================================
		# API (create)
		api_controller_create:
			crafter: controller
			mode: create
			scopes: [api]
			template: templates/api/controller_create.latte
			class: 'App\Api\{$name|firstUpper}\Create\Create{$name|firstUpper}Controller'

		api_request_create:
			crafter: request
			mode: create
			scopes: [api]
			template: templates/api/request_create.latte
			class: 'App\Api\{$name|firstUpper}\Create\Create{$name|firstUpper}Request'

		api_request_body_create:
			crafter: request_body
			mode: create
			scopes: [api]
			template: templates/api/request_body_create.latte
			class: 'App\Api\{$name|firstUpper}\Create\Create{$name|firstUpper}RequestBody'

		api_response_create:
			crafter: response
			mode: create
			scopes: [api]
			template: templates/api/response_create.latte
			class: 'App\Api\{$name|firstUpper}\Create\Create{$name|firstUpper}Response'

		# API (update)
		api_controller_update:
			crafter: controller
			mode: update
			scopes: [api]
			template: templates/api/controller_update.latte
			class: 'App\Api\{$name|firstUpper}\Update\Update{$name|firstUpper}Controller'

		api_request_update:
			crafter: request
			mode: update
			scopes: [api]
			template: templates/api/request_update.latte
			class: 'App\Api\{$name|firstUpper}\Update\Update{$name|firstUpper}Request'

		api_request_body_update:
			crafter: request_body
			mode: update
			scopes: [api]
			template: templates/api/request_body_update.latte
			class: 'App\Api\{$name|firstUpper}\Update\Update{$name|firstUpper}RequestBody'

		api_response_update:
			crafter: response
			mode: update
			scopes: [api]
			template: templates/api/response_update.latte
			class: 'App\Api\{$name|firstUpper}\Update\Update{$name|firstUpper}Response'

		# API (get)
		api_controller_get:
			crafter: controller
			mode: get
			scopes: [api]
			template: templates/api/controller_get.latte
			class: 'App\Api\{$name|firstUpper}\Get\Get{$name|firstUpper}Controller'

		api_request_get:
			crafter: request
			mode: get
			scopes: [api]
			template: templates/api/request_get.latte
			class: 'App\Api\{$name|firstUpper}\Get\Get{$name|firstUpper}Request'

		api_response_get:
			crafter: response
			mode: get
			scopes: [api]
			template: templates/api/response_get.latte
			class: 'App\Api\{$name|firstUpper}\Get\Get{$name|firstUpper}Response'

		# API (list)
		api_controller_list:
			crafter: controller
			mode: list
			scopes: [api]
			template: templates/api/controller_list.latte
			class: 'App\Api\{$name|firstUpper}\List\List{$name|firstUpper}Controller'

		api_request_list:
			crafter: request
			mode: list
			scopes: [api]
			template: templates/api/request_list.latte
			class: 'App\Api\{$name|firstUpper}\List\List{$name|firstUpper}Request'

		api_request_filter_list:
			crafter: request_filter
			mode: list
			scopes: [api]
			template: templates/api/request_filter_list.latte
			class: 'App\Api\{$name|firstUpper}\List\List{$name|firstUpper}RequestFilter'

		api_response_list:
			crafter: response
			mode: list
			scopes: [api]
			template: templates/api/response_list.latte
			class: 'App\Api\{$name|firstUpper}\List\List{$name|firstUpper}Response'

		# API (delete)
		api_controller_delete:
			crafter: controller
			mode: delete
			scopes: [api]
			template: templates/api/controller_delete.latte
			class: 'App\Api\{$name|firstUpper}\Delete\Delete{$name|firstUpper}Controller'

		api_request_delete:
			crafter: request
			mode: delete
			scopes: [api]
			template: templates/api/request_delete.latte
			class: 'App\Api\{$name|firstUpper}\Delete\Delete{$name|firstUpper}Response'

		api_response_delete:
			crafter: response
			mode: delete
			scopes: [api]
			template: templates/api/response_delete.latte
			class: 'App\Api\{$name|firstUpper}\Delete\Delete{$name|firstUpper}Response'
