# Schema version
version: 1

# List of crafters
crafters:
	# Database
	database_entity: { input: '%cwd%/templates/database/entity.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Database/{$name|firstUpper}.php'}
	database_repository: { input: '%cwd%/templates/database/repository.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Database/{$name|firstUpper}Repository.php'}

	# Bus
	bus_command_create: { input: '%cwd%/templates/bus/command_create.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Create{$name|firstUpper}Command.php'}
	bus_handler_create: { input: '%cwd%/templates/bus/handler_create.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Create{$name|firstUpper}Handler.php'}
	bus_command_update: { input: '%cwd%/templates/bus/command_update.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Update{$name|firstUpper}Command.php'}
	bus_handler_update: { input: '%cwd%/templates/bus/handler_update.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Update{$name|firstUpper}Handler.php'}
	bus_command_get: { input: '%cwd%/templates/bus/command_get.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Get{$name|firstUpper}Command.php'}
	bus_handler_get: { input: '%cwd%/templates/bus/handler_get.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Get{$name|firstUpper}Handler.php'}
	bus_command_list: { input: '%cwd%/templates/bus/command_list.latte', output: '{$namespace}/Domain/{$name|firstUpper}/List{$name|firstUpper}Command.php'}
	bus_handler_list: { input: '%cwd%/templates/bus/handler_list.latte', output: '{$namespace}/Domain/{$name|firstUpper}/List{$name|firstUpper}Handler.php'}
	bus_command_delete: { input: '%cwd%/templates/bus/command_delete.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Delete{$name|firstUpper}Command.php'}
	bus_handler_delete: { input: '%cwd%/templates/bus/handler_delete.latte', output: '{$namespace}/Domain/{$name|firstUpper}/Delete{$name|firstUpper}Handler.php'}

	# API
	api_controller_create: { input: '%cwd%/templates/api/controller_create.latte', output: '{$namespace}/Api/{$name|firstUpper}/Create/Create{$name|firstUpper}Controller.php'}
	api_request_create: { input: '%cwd%/templates/api/request_create.latte', output: '{$namespace}/Api/{$name|firstUpper}/Create/Create{$name|firstUpper}Request.php'}
	api_request_body_create: { input: '%cwd%/templates/api/request_body_create.latte', output: '{$namespace}/Api/{$name|firstUpper}/Create/Create{$name|firstUpper}RequestBody.php'}
	api_response_create: { input: '%cwd%/templates/api/response_create.latte', output: '{$namespace}/Api/{$name|firstUpper}/Create/Create{$name|firstUpper}Response.php'}
	api_controller_update: { input: '%cwd%/templates/api/controller_update.latte', output: '{$namespace}/Api/{$name|firstUpper}/Update/Update{$name|firstUpper}Controller.php'}
	api_request_update: { input: '%cwd%/templates/api/request_update.latte', output: '{$namespace}/Api/{$name|firstUpper}/Update/Update{$name|firstUpper}Request.php'}
	api_request_body_update: { input: '%cwd%/templates/api/request_body_update.latte', output: '{$namespace}/Api/{$name|firstUpper}/Update/Update{$name|firstUpper}RequestBody.php'}
	api_response_update: { input: '%cwd%/templates/api/response_update.latte', output: '{$namespace}/Api/{$name|firstUpper}/Update/Update{$name|firstUpper}Response.php'}
	api_controller_get: { input: '%cwd%/templates/api/controller_get.latte', output: '{$namespace}/Api/{$name|firstUpper}/Get/Get{$name|firstUpper}Controller.php'}
	api_request_get: { input: '%cwd%/templates/api/request_get.latte', output: '{$namespace}/Api/{$name|firstUpper}/Get/Get{$name|firstUpper}Request.php'}
	api_response_get: { input: '%cwd%/templates/api/response_get.latte', output: '{$namespace}/Api/{$name|firstUpper}/Get/Get{$name|firstUpper}Response.php'}
	api_controller_list: { input: '%cwd%/templates/api/controller_list.latte', output: '{$namespace}/Api/{$name|firstUpper}/List/List{$name|firstUpper}Controller.php'}
	api_request_list: { input: '%cwd%/templates/api/request_list.latte', output: '{$namespace}/Api/{$name|firstUpper}/List/List{$name|firstUpper}Request.php'}
	api_request_filter_list: { input: '%cwd%/templates/api/request_filter_list.latte', output: '{$namespace}/Api/{$name|firstUpper}/List/List{$name|firstUpper}Filter.php'}
	api_response_list: { input: '%cwd%/templates/api/response_list.latte', output: '{$namespace}/Api/{$name|firstUpper}/List/List{$name|firstUpper}Response.php'}
	api_controller_delete: { input: '%cwd%/templates/api/controller_delete.latte', output: '{$namespace}/Api/{$name|firstUpper}/Delete/Delete{$name|firstUpper}Controller.php'}
	api_request_delete: { input: '%cwd%/templates/api/request_delete.latte', output: '{$namespace}/Api/{$name|firstUpper}/Delete/Delete{$name|firstUpper}Request.php'}
	api_response_delete: { input: '%cwd%/templates/api/response_delete.latte', output: '{$namespace}/Api/{$name|firstUpper}/Delete/Delete{$name|firstUpper}Response.php'}
