mate:
	presets: [moderntv]

app:
	scopes: [database, bus, api]

structs:
	user:
		fields:
			username: {type: string}
			email: {type: string}
			password: {type: string}
			createdAt: {type: Nette\Utils\DateTime}
			updatedAt: {type: Nette\Utils\DateTime}
			roles: {type: array}
