<?php

declare(strict_types = 1);

namespace {$ctx->class->namespace};

use Contributte\FrameX\Http\DataResponse;

final class {$ctx->class->className} extends DataResponse
{

    public static function of(): self
    {
        $self = self::create();

        return $self;
    }

}
